<h1> About Page </h1>

<h2>Find your favoriate items here!</h2>

<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis quia harum laborum, itaque quibusdam velit
  aliquid, sequi et atque fugit eius esse quod totam, cum recusandae qui ullam? Rem, neque!</p>
